.faq-page {
  padding: 20px;
}

button[aria-label="Toggle language"] {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button[aria-label="Toggle language"]:hover {
  background-color: #333;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button[aria-expanded] {
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: #1f1f1f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

button[aria-expanded]:hover {
  background-color: #333;
}

div[aria-hidden="false"] {
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
}

.faq-form {
  margin-top: 20px;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.faq-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.faq-form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.faq-form input,
.faq-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
}

.faq-form button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.faq-form button:hover {
  background-color: #333;
  color: #fff;
}

.faq-form p {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.faqhead{
  margin-bottom: 10px;
}