/* Slider Styles */
body {
  overflow-x: hidden;
}

.slider {
    width: 200px;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: #555;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
  }
  
  .slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: linear-gradient(to right, #fff, #000);
    border-radius: 5px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    margin-top: -4px; /* Center the thumb */
  }
  
  .slider::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: linear-gradient(to right, #fff, #000);
    border-radius: 5px;
  }
  
  .slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .slider::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  .slider::-ms-fill-lower {
    background: linear-gradient(to right, #fff, #000);
    border-radius: 5px;
  }
  
  .slider::-ms-fill-upper {
    background: linear-gradient(to right, #fff, #000);
    border-radius: 5px;
  }
  
  .slider::-ms-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  /* Button Styles */
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #fff; /* White border */
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  }
  
  .button:hover {
    background-color: #333; /* Slightly lighter black on hover */
    color: #fff; /* Ensure text remains white */
  }
  
  /* Adjust Button Styles */
  .adjustButton {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
  }
  