body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.library-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 250px;
  background-color: #1f1f1f;
  border-right: 1px solid #333;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.filters h3 {
  margin-bottom: 20px;
}

.filters h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.filters label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filters input[type="checkbox"] {
  width: 16px;
  height: 16px;
  background: #000;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  appearance: none;
  margin-right: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filters input[type="checkbox"]:checked {
  background: #fff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  margin-bottom: 1vw;
}

.library-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.music-sheets {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sheet-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  color: #ffffff;
}

.sheet-preview {
  width: 100px;
  height: 141px; /* Adjust height to maintain aspect ratio */
  border-radius: 5px;
  margin-right: 20px;
}

.sheet-info {
  display: flex;
  flex-direction: column;
}

.sheet-info strong {
  font-size: 16px;
  margin-bottom: 5px;
}

.sheet-info p {
  font-size: 14px;
  color: #bbbbbb;
}
